@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
.todo-app {
    width: 500px;
    padding: 20px;
    background-color: #DCD8CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    margin-top: 20px;
}

.todo-form input{
    width: 75%;
    height: 30px;
    font-size: medium;
    font-weight: 600;
    color: #E25D33;
}

.todo-button {
    width: 20%;
    height: 35px;
}
.todo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    color: #DCD8CF;
    background-color: #E25D33;
    border-radius: 3px;
    font-size: large;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.delete-icon {
    font-weight: 700;
}